doctype html
head
    title Home
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")

body
    nav.navbar.navbar-inverse
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Personel Bilgi Sistemi
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Anasayfa
                    li
                       a(href='/add') Eleman Ekle
                    li
                        a(href="/update") Kaydı Düzenle
                    li
                        a(href="/remove") Kaydı Sil
    br
    br
    table.table.table-striped.table-bordered.table-hover
        thead
            tr  
                
                th(scope="col") Adı
                th(scope="col") Soyadı
                th(scope="col") Meslegi
                th(scope="col") Maası
        tbody
            each emps in emp
                tr
                    td= emps.name
                    td= emps.surname
                    td= emps.job
                    td= emps.salary
        


script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/js/index.js")
                    

            

            